@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

$containerColor: white;
$elementsColor: #364153;
$fullW: 100%;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

.container {
  width: $fullW;
  background-color: $containerColor;
  box-sizing: border-box;
  display: flex;
  height: 100vh;

  button {
    cursor: pointer;
  }

  .layout {
    height: 100%;
    .sider {
      padding: 6px 0 0 0; 
      border-radius: 10px;
    }

    li {
      border: 1px solid transparent;
      padding: 0;
      display: flex;
      justify-content: center;

      .li:focus {
        background: #9ecef5;
      }
    }
  }

  .content {
    width: $fullW;
    padding: 12px;
    background-color: #F0F3F9;

    .settings {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border: 1px solid red;

      .card {
        width: 30%;
        height: 125px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .body {
          display: flex;
          gap: 15px;

          input {
            width: 70%;
          }

          button {
            width: 20%;
            padding: 0;
          }
        }
      }
    }

    .product {
      h3 {
        color: white;
      }
    }

    .body {
      margin: 15px 0 0 0;

      .enabled,
      .disabled {
        border: 0;
        padding: 13px 20px;
        border-radius: 26px;
      }

      .enabled {
        background-color: #E6F6F5;
        color: #03A89E;
      }

      .disabled {
        background-color: #fee4f0;
        color: #FF69B4;
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: black;
      }

      .search {

        color: black;

        input,
        .ant-input-group-addon>button {
          color: black;

          &:focus,
          &:active {
            box-shadow: 0;
          }

          &::placeholder {
            opacity: 0.5;
          }
        }
      }

      .btn {
        padding: 0 10px;
        background: #3A36DB;
        border: 0;
        color: white;
      }
    }

    .dashboard {
      display: flex;
      flex-direction: column;

      .cards {
        width: $fullW;
        justify-content: space-between;
        display: flex;
        margin-top: 15px;
        flex-wrap: wrap;

        .card {
          background-color: white;
          border-radius: 10px;
          display: flex;
          align-items: center;
          padding: 28px 45px;
          gap: 20px;

          div {
            display: flex;
            flex-direction: column;

            p {
              font-size: 15px;
            }
          }
        }
      }

      .charts {
        display: flex;
        margin-top: 20px;
        width: $fullW;
        align-items: center;
        flex-wrap: wrap;

        gap: 25px;

        .area {
          width: 63%;
          padding: 50px 0 0 0;
          background-color: white;
          border-radius: 6px;
          padding: 10px 5px;
        }

        .pie {
          width: 35%;
          padding: 30px 0 0 0;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }

      .tables {
        display: flex;
        gap: 15px;
        margin-top: 15px;

        .first {
          width: 63.5%;
          background-color: white;
          padding: 10px;

          .top {
            display: flex;
            justify-content: space-between;
          }

          .body-part {
            width: $fullW;
          }
        }
      }
    }

  }
}

//!! Often Usable !!\\

.circle {
  border-radius: 50%;
  padding: 30px 33px;
  outline: none;
  border: 1px solid gray;
}

//~~ Media ~~\\

@media screen and (max-width: 480px) {}

@media (min-width: 480px) and (max-width: 768px) {
  .dashboard {

    .cards {
      gap: 20px;

      .card {
        padding: 10px 5px !important;
        width: 45%;
        justify-content: center;
        gap: 0 !important;
        line-height: 30px;
        flex-direction: column;
        text-align: center;
      }
    }

    .charts {
      flex-direction: column;

      .pie,
      .area {
        width: $fullW !important;
      }
    }

    .tables {
      flex-direction: column;

      .first {
        width: $fullW !important;
      }
    }
  }
}