@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=JetBrains+Mono:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=JetBrains+Mono:ital,wght@0,700;1,400&display=swap');

$containerColor: white;
$elementsColor: #364153;
$fullW: 100%;
$elementGray: #06152B;
$elementGrayOpacity: 0.7;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
  font-family: 'JetBrains Mono', monospace;
}

.container {
  width: $fullW;
  background-color: $containerColor;
  box-sizing: border-box;
  display: flex;

  button {
    cursor: pointer;
  }

  .layout {
    height: 100%;

    .sider {
      padding: 6px 0 0 0;
      border-radius: 10px;
      position: relative;

      .siderImg {
        text-align: center;
        padding: 0 10px;

        img {
          width: 100%;
          height: 80px;
          object-fit: contain;
        }
      }

      .sider_icon {
        position: absolute;
        bottom: -140%;
        float: left;
      }
    }

    li {
      border: 1px solid transparent;
      padding: 0;
      display: flex;
      justify-content: center;
      font-weight: 600;

      .li:focus {
        background: #9ecef5;
      }
    }
  }

  .content {
    width: $fullW;
    padding: 12px;
    background-color: #F0F3F9;
    overflow-x: hidden;
    height: 100vh;

    .settings {
      width: 100%;
      display: flex;

      .card {
        width: 80%;
        height: 100%;
        background-color: white;
        display: flex;
        padding: 0 15px 0 0;

        .sider {
          width: 175px;
          height: 100%;
          padding: 20px 20px 0 20px;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-right: 1px solid lightgray;

          img {
            width: 150px;
            height: 100px;
            object-fit: contain;
            position: relative;
            overflow: hidden;

            &::after {
              content: "";
              background-image: url('https://static.thenounproject.com/png/583402-200.png');
              background-size: 100%;
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              background-repeat: no-repeat;
              background-color: white;
              height: 100%;
            }
          }

          h4 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .mainBody {
          display: flex;
          padding: 20px 0 0 30px;
          flex-direction: column;
        }
      }
    }

    .product {
      overflow: auto;
      height: 100%;

      table {
        margin: 25px 0 0 0;
        border-collapse: separate;
        border-spacing: 0 1em;
        width: 100%;

        tbody {
          tr {
            background-color: white;
          }

          td {
            text-align: center;
            font-size: 14px;

            &:nth-child(1) {
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
              display: flex;
              justify-content: center;

              img {
                object-fit: contain;
                position: relative;
                display: block;
                overflow: hidden;

                &::after {
                  content: "";
                  background-image: url('https://cdn.vectorstock.com/i/preview-1x/48/06/image-preview-icon-picture-placeholder-vector-31284806.jpg');
                  background-size: 50%;
                  background-position: 50% , 50%;
                  display: inline-block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  background-repeat: no-repeat;
                  background-color: white;
                  height: 100%;
                }
              }
            }

            &:nth-child(3) {
              width: 20%;

              p {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }

            &:nth-child(8) {
              border-bottom-right-radius: 6px;
              border-top-right-radius: 6px;
            }
          }
        }
      }


      @media screen and (max-width: 1100px) {
        .body {
          width: 150vw;
        }
      }
    }

    .orders {
      .order-body {
        height: 90vh;
        overflow-x: auto;

        table {
          width: 100%;
          height: 100%;
          border-spacing: 0 10px;
          border-collapse: separate;

          .orderM {
            display: flex;
            gap: 10px;
            align-items: center;
          }

          @media screen and (max-width: 1000px) {
            width: 150vw;
          }

          .order-table-tr {
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
            background-color: white;
            padding: 0 5px 0 0;

            .order-table-td {
              padding: 25px 0;
              text-align: center;

              &.order-table-td-1 {
                width: 15%;
                border-radius: 10px 0 0 10px;
              }

              &.order-table-td-2 {
                width: 20%;
              }

              &.order-table-td-3 {
                display: flex;
                justify-content: center;
              }

              &.order-table-td-5 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
              }

              &.order-table-td-6 {
                .PICKUP {
                  color: #FF69B4;
                }

                .DELIVERY {
                  color: #03A89E;
                }
              }
            }
          }
        }
      }
    }

    .oneOrderCard {
      display: flex;
      flex-direction: column;
      padding: 0 40px;

      .oneOrderCardTitle {
        display: flex;
        justify-content: space-between;

        .confirm,
        .cancel {
          color: white;
          font-size: 13px;
          border-radius: 6px;
          padding: 6px;
          border: 0;
        }

        .confirm {
          background-color: #008A00;
          margin: 0 10px 0 0;
        }

        .cancel {
          background-color: #A20025;
        }
      }

      .oneOrderCardBody {
        .between__div {
          display: flex;
          justify-content: space-between;
          align-items: start;
          text-align: end;

          .userDeliverInfo {
            margin-top: 10px;

            h5 {
              color: gray;
              font-weight: 400;
            }
          }

          .userInfo {
            margin-top: 15px;
          }

          &.head {
            align-items: center;
          }

          img {
            object-fit: contain;
            height: 75px;
            width: 75px;
            border: 1px solid lightgray;
          }

          &:nth-child(2) {
            margin: 15px 0 0 0;
            text-align: end;

            .invoice {
              h5 {
                font-size: 14px;
              }
            }
          }
        }

        .total {
          width: 100%;
          display: flex;
          justify-content: end;

          .end {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 10px 0 0 0;

            .end-left {
              width: 50%;
              display: flex;

              button {
                height: fit-content;
                border: 0;
                border-radius: 6px;
                padding: 10px 8px;
                font-size: 13px;
                display: block;
                background-color: #188CC4;
                color: white;

                &:nth-child(2) {
                  margin-left: 10px;
                  padding: 10px 12px;
                }
              }
            }

            .end-right {
              width: 50%;
            }

            .info {
              display: flex;
              justify-content: space-between;
              margin: 10px 0 0 0;
            }
          }

        }
      }

      @media screen and (max-width: 700px) {
        padding: 0;

        .oneOrderCardBody {

          .between__div,
          .between__div div,
          .between__div div h2 {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .invoice {
              margin-top: 10px;
            }
          }

          .total {
            .end {
              flex-direction: column;

              .end-right,
              .end-left {
                width: 100%;
              }

              .end-left {
                justify-content: space-between;
              }
            }
          }
        }
      }
    }

    .dashboard {
      display: flex;
      flex-direction: column;

      .dashboardTableDiv {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          object-fit: contain;
          width: 50px;
          height: 50px;
          position: relative;
          display: block;
          overflow: hidden;

          &::after {
            content: "";
            background-image: url('https://cdn.vectorstock.com/i/preview-1x/48/06/image-preview-icon-picture-placeholder-vector-31284806.jpg');
            background-size: 100%;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-repeat: no-repeat;
            background-color: white;
            height: 100%;
          }
        }
      }

      .charts {
        width: 100%;

        .area {
          height: 100%;
        }
      }

      .head {
        display: flex;
        padding: 10px 0;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-size: 13px;
          color: $elementGray;
        }
      }

      .cards {
        margin-top: 15px;
        margin-right: -10px !important;

        .card {
          background-color: white;
          border-radius: 10px;
          display: flex;
          align-items: center;
          padding: 25px 25px;
          gap: 20px;


          div {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            p {
              width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 13px;
              font-weight: 500;
            }
          }
        }
      }

      .chart {
        height: 100%;
        background-color: white;
        border-radius: 12px;

        .area {
          height: 100%;
          padding: 6px 10px;

          .head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
              font-size: 14px;
              color: $elementGray;
              opacity: $elementGrayOpacity;
            }
          }
        }

        .pie {
          padding: 6px 10px;

          h3 {
            font-size: 14px;
            color: $elementGray;
            opacity: $elementGrayOpacity;
          }
        }
      }
    }

    .notFound {
      width: 100%;
      height: 95vh;
      text-align: center;

      .not-found-btn {
        margin-top: 10px;
      }

      .error {
        color: #20293F;
        box-shadow: 0 5px 0px -2px #20293F;
        text-align: center;
        animation: fadein 1.2s ease-in;
      }

      .error>.code {
        font-size: 10.5em;
        text-shadow: 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
        margin: 0;
      }

      .error>.desc {
        text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5), 0px 6px 20px rgba(0, 0, 0, 0.3);
        font-weight: 400;
      }

      @keyframes fadein {
        0% {
          margin-top: -50px;
          opacity: 0;
        }

        50% {
          opacity: 0.5;
        }

        100% {
          opacity: 1;
        }
      }
    }

    .enabled,
    .pending,
    .complete,
    .canceled {
      border: 0;
      padding: 13px 20px;
      border-radius: 26px;
    }

    .bx .bxs-checkbox {
      color: transparent !important;
    }

    .enabled,
    .pending,
    .complete {
      background-color: #E6F6F5;
      color: #03A89E;
    }

    .disabled {
      background-color: #fee4f0;
      color: #FF69B4;
      border: 0;
      padding: 13px 20px;
      border-radius: 26px;
    }

    .canceled {
      background-color: #ECEBFC;
      color: blue;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: black;
      }

      .search {
        color: black;

        input,
        .ant-input-group-addon>button {
          color: black;

          &:focus,
          &:active {
            box-shadow: 0;
          }

          &::placeholder {
            opacity: 0.5;
          }
        }
      }

      .btn {
        padding: 0 10px;
        background: #3A36DB;
        border: 0;
        color: white;
      }
    }

    .tables {
      display: flex;
      margin-top: 15px;
      overflow-y: visible;

      .latestOrderedProducts,
      .theBestsellerProducts {
        background-color: white;
        padding: 20px 12px 40px 12px;
        border-radius: 12px;
        overflow: auto;

        .table {
          height: 230px;
        }

        .head {
          padding: 0;
          display: flex;
          align-items: center;

          h3 {
            font-size: 16px;
            color: $elementGray;
            opacity: $elementGrayOpacity;
          }
        }
      }

      .theBestsellerProducts {
        padding: 10px 12px 25px 12px;
        overflow: auto;
        height: 327px;

        .onlyTwo {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .aProduct {
          display: flex;
          gap: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid lightgray;

          img {
            border-radius: 16px;
            width: 125px;
            height: 95px;
            object-fit: cover;
            padding: 3px;
            position: relative;
            overflow: hidden;

            &::after {
              content: "";
              background-image: url('https://cdn.vectorstock.com/i/preview-1x/48/06/image-preview-icon-picture-placeholder-vector-31284806.jpg');
              background-size: 80%;
              background-position: 50% 50%;
              display: inline-block;
              position: absolute;
              top: 0%;
              left: 0%;
              width: 100%;
              background-repeat: no-repeat;
              background-color: white;
              height: 100%;
            }
          }

          .about {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            display: flex;

            h3 {
              margin: 0;
            }
          }
        }
      }

      h3 {
        margin: 0 0 10px 0;
      }
    }
  }
}

.Sign {
  height: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  #card {
    flex-basis: 30%;

    img {
      width: 50px;
      height: 50px;
    }
  }

}

//!! Often Usable !!\\

.circle {
  border-radius: 50%;
  outline: none;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newImg {
  display: flex;
  justify-content: center;
}

.form {
  margin: 10px 0 0 0;
}

.ant-spin-container {
  width: 100% !important;
  overflow-x: auto;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-1wazalj).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical {
  border: 0;
}

// Media

@media screen and (max-width: 710px) {
  .settings {
    .card {
      flex-direction: column;

      .sider {
        width: 100% !important;
        border-right: 0 !important;
      }
    }
  }

  #card {
    flex-basis: 80% !important;
  }
}

@media screen and (max-width: 530px) {

  .ant-card-body {
    padding: 0 15px !important;
  }

  #card {
    flex-basis: 90% !important;
  }

  .special {
    text-align: center;

    .stage-1 {
      flex-direction: column;

      div {
        margin: 10px 0 0 0;
      }
    }

    .stage-4 {
      flex-direction: column;
    }
  }

  .lastTwo {
    .sub {
      width: 100% !important;
    }
  }
}

@media (min-width: 710px) and (max-width: 850px) {
  #card {
    flex-basis: 60% !important;
  }
}